#descriptions{
  -webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.description{
	-webkit-transform: translateZ( -100px );
	   -moz-transform: translateZ( -100px );
	        transform: translateZ( -100px );
}

.description.show {
  visibility:visible !important;
	-webkit-transform: translateZ( 0px );
	   -moz-transform: translateZ( 0px );
	        transform: translateZ( 0px );
}

 .description.show{
	-webkit-animation: show-right 1s forwards ease;
	   -moz-animation: show-right 1s forwards ease;
	        animation: show-right 1s forwards ease;
}

.description.hide {
	-webkit-animation: hide-right 1s forwards ease;
	   -moz-animation: hide-right 1s forwards ease;
	        animation: hide-right 1s forwards ease;
}
/* CSS animation keyframes */

@-webkit-keyframes show-right {
	0%   { -webkit-transform: translate( 100%, 0 ) translateZ( 20px ) scale( 1.1 );box-shadow: 5px -1px 68px rgb(130, 179, 249); }
	69%{ -webkit-transform: scale( 1.05 );}
	84% { -webkit-transform: scale( 1.0 );box-shadow: 5px -1px 68px rgb(130, 179, 249); }
	100% { -webkit-transform: translateZ( 0px );box-shadow: 5px -1px 5px rgb(130, 179, 249); }
}

@-webkit-keyframes hide-right {
	0%   {  visibility: visible; }

	100% {  visibility: hidden; }
}

@-moz-keyframes show-right {
	0%   { -moz-transform: translate( 100%, 0 ) translateZ( 20px ) scale( 1.1 );box-shadow: 5px -1px 68px rgb(130, 179, 249); }
	69%{  -moz-transform: scale( 1.05 );}
	84% {  -moz-transform: scale( 1.0 );box-shadow: 5px -1px 68px rgb(130, 179, 249); }
	100% { -moz-transform: translateZ( 0px );box-shadow: 5px -1px 5px rgb(130, 179, 249); }
}

@-moz-keyframes hide-right {
	0%   {  visibility: visible; }

	100% {  visibility: hidden; }
}

@keyframes show-right {
	0%   { transform: translate( 100%, 0 ) translateZ( 20px ) scale( 1.1 ); }
	69%{  transform: scale( 1.05 );}
	84% {  transform: scale( 1.0 ); box-shadow: 5px -1px 68px rgb(130, 179, 249);}
	100% { transform: translateZ( 0px );box-shadow: 5px -1px 5px rgb(130, 179, 249);  }
}

@keyframes hide-right {
	0%   {  visibility: visible; }

	100% {  visibility: hidden; }
}
/** SHOW TOP **/
@-webkit-keyframes show-top {
	0%   { -webkit-transform: translate( 0, -100% ) translateZ( 20px ) scale( 1.1 ); }
	69%{ -webkit-transform: scale( 1.05 );}
	84% { -webkit-transform: scale( 1.0 );}
	100% { -webkit-transform: translateZ( 0px ); }
}



@-moz-keyframes show-top {
	0%   { -moz-transform: translate( 0, -100% ) translateZ( 20px ) scale( 1.1 ); }
	69%{  -moz-transform: scale( 1.05 );}
	84% {  -moz-transform: scale( 1.0 );}
	100% { -moz-transform: translateZ( 0px );}
}


@keyframes show-top {
	0%   { transform: translate( 0, -100% ) translateZ( 20px ) scale( 1.1 ); }
	69%{  transform: scale( 1.05 );}
	84% {  transform: scale( 1.0 ); }
	100% { transform: translateZ( 0px ); }
}
/** SHOWbot right**/
@-webkit-keyframes show-bot-right {
	0%   {-webkit-transform: translate( 100%, 100% ) translateZ( 20px ) scale( 1.1 );}
	69%{ -webkit-transform: scale( 1.05 );}
	84% { -webkit-transform: scale( 1.0 );}
	100% { -webkit-transform: translateZ( 0px ); }
}



@-moz-keyframes show-bot-right {
	0%   { -moz-transform: translate( 100%, 100% ) translateZ( 20px ) scale( 1.1 ); }
	69%{  -moz-transform: scale( 1.05 );}
	84% {  -moz-transform: scale( 1.0 );}
	100% { -moz-transform: translateZ( 0px );}
}


@keyframes show-bot-right {
	0%   { transform: translate( 100%, 100% )translateZ( 20px ) scale( 1.1 ); }
	69%{  transform: scale( 1.05 );}
	84% {  transform: scale( 1.0 ); }
	100% { transform: translateZ( 0px ); }
}
/** SHOWbot  LEFT**/
@-webkit-keyframes show-bot-left {
	0%   {-webkit-transform: translate( -100%, 100% ) translateZ( 20px ) scale( 1.1 );}
	69%{ -webkit-transform: scale( 1.05 );}
	84% { -webkit-transform: scale( 1.0 );}
	100% { -webkit-transform: translateZ( 0px ); }
}



@-moz-keyframes show-bot-left {
	0%   { -moz-transform: translate( -100%, 100% ) translateZ( 20px ) scale( 1.1 ); }
	69%{  -moz-transform: scale( 1.05 );}
	84% {  -moz-transform: scale( 1.0 );}
	100% { -moz-transform: translateZ( 0px );}
}


@keyframes show-bot-left {
	0%   { transform: translate( -100%, 100% )translateZ( 20px ) scale( 1.1 ); }
	69%{  transform: scale( 1.05 );}
	84% {  transform: scale( 1.0 ); }
	100% { transform: translateZ( 0px ); }
}

